@import url("https://fonts.googleapis.com/css?family=Roboto:300,500");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Roboto', sans-serif;
  color: #1b2c1a; }
  body h1 {
    font-size: 40px; }
  body h2 {
    font-size: 34px;
    line-height: 40px; }
  body h3 {
    font-size: 26px;
    line-height: 32px; }
  body h4 {
    font-size: 18px;
    line-height: 26px;
    color: #aeaeae; }
  body h5 {
    font-size: 16px;
    font-weight: 500; }
  body p {
    font-size: 16px;
    line-height: 20px;
    margin: 10px auto;
    font-weight: 300; }
  body a {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin: 10px auto;
    border-bottom: 2px solid transparent;
    color: #879c01;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    body a:hover {
      text-decoration: none;
      border-bottom: 2px solid #879c01; }
  body .container {
    padding: 0 20px;
    max-width: 1000px;
    margin: 0 auto; }
  body .intro {
    height: 400px;
    width: 100%;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/background.JPG") no-repeat 50% 50%;
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/background.JPG") no-repeat 50% 50%;
    background-size: cover;
    position: relative; }
    body .intro img {
      width: 200px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  body #about {
    padding: 20px 0;
    text-align: center; }
    body #about .about-text {
      max-width: 675px;
      margin: 20px auto; }
      body #about .about-text .social ul li {
        margin: 7px;
        display: inline-block; }
        body #about .about-text .social ul li img {
          height: 20px; }
  body #work h2 {
    text-align: center; }
  body #work .work-item {
    padding: 20px 0;
    overflow: hidden; }
    @media all and (min-width: 768px) {
      body #work .work-item:nth-of-type(2n + 2) .work-image {
        float: right; } }
    @media all and (min-width: 768px) {
      body #work .work-item:nth-of-type(2n + 2) .work-text {
        text-align: right; }
        body #work .work-item:nth-of-type(2n + 2) .work-text a {
          float: right; } }
    body #work .work-item .work-image {
      padding: 20px; }
      @media all and (min-width: 768px) {
        body #work .work-item .work-image {
          width: calc(50% - 40px);
          display: inline-block;
          float: left;
          padding: 30px 20px; } }
      body #work .work-item .work-image img {
        display: block;
        width: 100%; }
    body #work .work-item .work-text {
      padding: 20px;
      text-align: center; }
      @media all and (min-width: 768px) {
        body #work .work-item .work-text {
          text-align: left;
          width: calc(50% - 40px);
          float: left;
          display: inline-block;
          position: relative;
          padding: 30px 20px; } }
      body #work .work-item .work-text .skills {
        margin: 5px auto; }
        body #work .work-item .work-text .skills ul li {
          display: inline-block;
          margin: 7px 5px 0px 0;
          padding: 4px 6px;
          border-radius: 3px;
          color: #fff;
          background-color: #aeaeae;
          font-size: 12px;
          font-weight: 300; }
      body #work .work-item .work-text a {
        font-size: 20px;
        margin: 15px auto;
        display: block;
        width: 140px;
        text-align: center;
        color: #fff;
        border-radius: 3px;
        background-color: #879c01;
        padding: 6px 8px;
        border: 2px solid #879c01; }
        @media all and (min-width: 768px) {
          body #work .work-item .work-text a {
            margin: 15px 0; } }
        body #work .work-item .work-text a:hover {
          border: 2px solid #879c01;
          background-color: #fff;
          color: #879c01; }
  body footer {
    border-top: 2px solid #1b2c1a; }
    body footer .copyright {
      text-align: center; }
      @media all and (min-width: 768px) {
        body footer .copyright {
          text-align: left;
          display: inline-block;
          width: 40%;
          float: left; } }
      body footer .copyright p {
        font-size: 13px; }
    body footer .social {
      text-align: center; }
      @media all and (min-width: 768px) {
        body footer .social {
          float: right;
          display: inline-block; }
          body footer .social ul li {
            margin: 0 10px 0 0; }
            body footer .social ul li a:hover {
              text-decoration: none;
              border: none; }
            body footer .social ul li a:visited {
              text-decoration: none; } }
      body footer .social ul li {
        margin: 10px;
        display: inline-block; }
        body footer .social ul li a {
          font-size: 12px; }
          body footer .social ul li a img {
            height: 20px; }
